html {
  font-size:12px
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-top: 1em;
}
h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 1.4em;
}
h1.title {
  color: black;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.1rem;
  margin-top: 25px;
}
h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

body {
  color: #575757;
  font-size: 1.15rem;
  line-height: 1.8rem;
}

a {
  color: #0076bf
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #0076bf;
    border-color: #0076bf;
}

.btn-primary {
  background-color: #0076bf;
}

.btn-primary.active, .btn-primary.active:hover, .btn-primary.active:focus {
  background-color: #0076bf;  
}

