/*-- scss:defaults --*/

$code-color: #003B4F;
$code-block-bg: #f8f8f8;


/*-- scss:rules --*/

#title-block-header {
  margin-block-end: 2rem;
}

.sidebar-title {
  font-size: 1.6rem;
}

// Tables
.table {
  width: auto;
}
.table > thead {
  border-top-style: none;
}
table > caption {
  text-align: left;
}
.table > tfoot > tr > td {
  font-size: 0.9rem;
  border-bottom-style: none;
  padding: 0.1rem !important;
}
.table > :not(:first-child) {
  border-top: 1px;
}

// Get rid of syntax highlighting
code span.kw {
  color: inherit;
  font-weight: inherit;
}
code span.st {
  color: inherit;
}
code span.fu {
  color: inherit;
}

