/*-- scss:defaults --*/

$code-color: #00769e;
$code-block-bg: #f8f8f8;


/*-- scss:rules --*/

/* headings */

.sidebar-title {
  font-size: 1.6rem;
}

header#title-block-header {
  margin-bottom: 3rem;
}

h1.title {
  font-size: 2.5rem;
}

h3, h4 {
  margin-bottom: 0.8rem;
}

/* code */

div.sourceCode {
  border-radius: 0px;
}

pre code {
  line-height: 1.2rem;
}

code.sourceCode > span {
  color: $code-color;
}

code span.kw {
  color: inherit;
  font-weight: inherit;
}

code span.st {
  color: inherit;
}

code span.fu {
  color: inherit;
}

/* tables */

.table {
  width: auto;
}

.table > tfoot > tr > td {
  font-size: 0.9rem;
  border-top-style: none;
  border-bottom-style: none;
  padding: 0.25rem 0.25rem !important;
}

table > caption {
  text-align: left;
  border-top-style: none !important;
}

thead {
  border-top-style: none !important;
}

/* misc */

li[role="doc-endnote"] {
  margin-bottom: 0.4rem;
}

.aa-Autocomplete .aa-Form, .aa-DetachedFormContainer .aa-Form {
  border-radius: 0px;
}

