/*-- scss:defaults --*/

$code-color: #003B4F;


/*-- scss:rules --*/

#title-block-header {
  margin-block-end: 2rem;
}

.sidebar-title {
  font-size: 1.6rem;
}

// Tables
.table {
  width: auto;
}
table > caption {
  text-align: left;
  font-size: 1rem;
}
.table > tfoot > tr > td {
  font-size: 0.9rem;
  border-bottom-style: none !important;
  padding: 0.1rem !important;
}


// Get rid of syntax highlighting
code span.kw {
  color: inherit;
  font-weight: inherit;
}
code span.st {
  color: inherit;
}
code span.fu {
  color: inherit;
}

